<div class="page-layout">

    <div class="menu-left" [ngClass]="{
        'is-hidden': !isMenuOpen,  
        'is-open': isMenuOpen,  
        'menu-sm': menuSize === 'sm',
        'menu-lg': menuSize === 'lg' 
        }" id="close-menu-left">

        <a *ngIf="!hide" class="closebtn" (click)="closeNav2()"> &times; </a>
        <a *ngIf="hide" class="closebtn" íd="btnclose" (click)="closeNav()">&times;</a>

        <div class="icon" *ngFor="let item of menu">
            <a [routerLink]="[item.url]">
                <div class="menu">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">{{item.icon}}</mat-icon>
                    <div *ngIf="hide" class="name">{{item.name}}</div>
                </div>
            </a>
        </div>
    </div>

    <div class="right" id="fit-menu">
        <div class="top-nav">
            <mat-toolbar color="primary">
                <button mat-icon-button *ngIf="!isMenuOpen" class="open-menu" (click)="openNav()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span><img src="/assets/img/r2.png"></span>
                <span class="title">Realtek</span>
                <span class="example-spacer"></span>
                <div class="img">
                    <div class="mr"></div>
                    <span>Max Plank</span>
                    <img src="/assets/img/maxyoung.jpg" class="max">
                    <div class="icon">
                        <button mat-icon-button (click)="onLogoutBtnClicked()">
                            <mat-icon>exit_to_app</mat-icon>
                        </button>
                    </div>

                </div>

            </mat-toolbar>
        </div>
        <div class="content-right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



<!-- <div class="header">
    <mat-toolbar color="primary">
        <span class="open-menu" (click)="openNav()">&#9776;</span>
        <span class="title"><img style="width: 40px;" src="/assets/img/r2.png"></span>
        <span class="title2">Realtek</span>
        <span class="example-spacer"></span>
        <div class="img">
            <div class="mr"></div>
            <span>Max Plank</span>
            <img src="/assets/img/maxyoung.jpg" class="max">
            <div class="icon">
                <button mat-icon-button (click)="onLogoutBtnClicked()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>

        </div>

    </mat-toolbar>
</div>

<div class="content">
    <div class="menu-left" id="mySidenav">

        <a *ngIf="!hide" class="closebtn" (click)="closeNav2()"> &times; </a>
        <a *ngIf="hide" class="closebtn" íd="btnclose" (click)="closeNav()">&times;</a>

        <div class="icon" *ngFor="let item of menu">
            <a [routerLink]="[item.url]">
                <div class="menu">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">{{item.icon}}</mat-icon>
                    <div *ngIf="hide" class="name">{{item.name}}</div>
                </div>
                

            </a>
        </div>

    </div>
    <div class="content-right">

        <router-outlet> </router-outlet>
    </div>

</div> -->