.header {
  border-bottom: 1px solid gray;
}

span {
  color: gray;
}

.example-spacer {
  flex: 1 1 auto;
}

.title {
  border: 1px solid rgb(240, 232, 232);
  padding: 3px;
  margin: 10px 2px;
}

.title2 {
  padding: 50px;
}

.img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mr {
  font-size: 15px;
  padding: 20px;
  color: gray;
}

.max {
  width: 40px;
  /* min-width: 50px; */
  height: 40px;
  line-height: 40px;
  margin: 0 0 0 10px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}

.content {
  display: flex;
}

.menu-left {
  /* display: flex;
  flex-direction: column;
  width: 80px;
  border-right: 1px solid gray;

  overflow: hidden; */
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.9s;
  padding-top: 60px;
}

.menu-left a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.9s;
}

.menu-left .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .menu-left {padding-top: 15px;}
  .menu-left a {font-size: 18px;}
}

/* Thumbnail */
.menu-left img {
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  /* Safari & Google Chrome */
  -webkit-transition-duration: 0.5s;
  /* Mozilla Firefox */
  -moz-transition-duration: 0.5s;
  /* Opera */
  -o-transition-duration: 0.5s;
  /* IE 9 */
  -ms-transition-duration: 0.5s;
}

/* Hover chuột vào thumbnail */
.menu-left img:hover {
  transform: scale(1.2);
  /* Safari & Google Chrome */
  -webkit-transform: scale(1.2);
  /* Mozilla Firefox */
  -moz-transform: scale(1.2);
  /* Opera */
  -o-transform: scale(1.2);
  /* IE 9 */
  -ms-transform: scale(1.2);
  cursor: pointer;
}


.content-right {
  width: calc(100% - 80px);

}

.icon {
  margin: 20px 20px;
}
