<app-page>
  <app-page-header>
    <a mat-icon-button routerLink="../" routerLinkActive="active">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <span page-title>{{'detailCompany' | transloco}}</span>

  </app-page-header>

  <app-page-content *ngIf="detailCompany">
    <div container fxLayout="row">
      <form container name="detailCompanyForm" #form="ngForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(form)"
        fxFlex.lt-md="100%" fxFlex.gt-sm="650px" fxLayout="column">
        <mat-card class="card1">
          <div class="URL" fxLayout="row" fxLayout.lt-md="column" fxFlex.lt-md="300px">
            <img class="logo-img" src="{{detailCompany.logoURL || detailCompany.url}}">
            <mat-form-field appearance="outline" class="logoURL">
              <mat-label>{{'logoURL' | transloco}}</mat-label>
              <input tabindex="1" matInput type="text" name="logoURL" required
                [(ngModel)]="detailCompany.logoURL || detailCompany.url">

            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="name">
            <mat-label>{{'name' | transloco}}</mat-label>
            <input tabindex="2" matInput type="text" name="name" required #username="ngModel"
              [(ngModel)]="detailCompany.name">
          </mat-form-field>

        </mat-card>

        <mat-card class="card2">
          <p>{{'contactInfo' | transloco}}</p>
          <mat-form-field appearance="outline" class="phone">
            <mat-label>{{'phone' | transloco}}</mat-label>
            <input tabindex="3" matInput type="phone" name="phone" required #username="ngModel"
              [(ngModel)]="detailCompany.phone" placeholder="+84">
          </mat-form-field>

          <div class="content" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column"
            fxLayoutAlign.lt-md="start start">
            <mat-form-field class="email" appearance="outline" fxFlex="calc(50% - 20px)" fxFlex.lt-md="100%"
              ngClass.lt-md="w-100-p">
              <mat-label>{{'email' | transloco}}</mat-label>
              <input tabindex="4" matInput type="email" name="email" required #username="ngModel"
                [(ngModel)]="detailCompany.email" placeholder="your@example.com">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="calc(50% - 20px)" fxFlex.lt-md="100%" ngClass.lt-md="w-100-p">
              <mat-label>{{'website' | transloco}}</mat-label>
              <input tabindex="5" matInput type="text" name="website" required #username="ngModel"
                [(ngModel)]="detailCompany.website" placeholder="http://">
            </mat-form-field>
          </div>

          <p>{{'address' | transloco}}</p>
          <mat-form-field appearance="outline" class="address">
            <mat-label>{{'address' | transloco}}</mat-label>
            <input tabindex="6" matInput type="text" name="address" required #username="ngModel"
              [(ngModel)]="detailCompany.address">
          </mat-form-field>
        </mat-card>

        <div class="example-button-row">
          <button mat-raised-button color="accent" type="submit"
            [disabled]="( isUpdating$ | async)">{{'save' | transloco}}</button>
        </div>
      </form>
    </div>
  </app-page-content>
</app-page>
