.header {
  padding: 24px;
}

.container {
  padding: 0 24px;
}

table {
  width: 100%;
}

img {
  width: 5%;
  padding: 0px;
}

.container {
  font-family: Lato;
}

.example-element-row:hover {
  background: whitesmoke;
}

.example-element-row:active {
  background: #efefef;
}
