
<div class="container-p">
    <h1>Accounta</h1>
    <div class="container">
        <h1>Welcome back!</h1>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="your@.email.com">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="******">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
        <section>
            <div class="example-button-row">
              <button mat-raised-button color="accent">Sign in</button>
            </div>
        </section>
        <a mat-raised href="https://www.google.com/" target="_blank">Forgot your password?</a>
    </div>
    <a mat-raised href="https://www.google.com/" target="_blank">Sign up!</a>
    
</div>