<div class="header">
    <mat-toolbar color="primary">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        <span class="title"><img style="width: 40px;" src="/assets/img/r2.png"></span>
        <span class="title2">Realtek</span>
        <span class="example-spacer"></span>
        <div class="img">
            <div class="mr">Max Plank</div>
            <div class="mr"><img src="/assets/img/mr.PNG"></div>
            <div class="icon"><img style="width: 40px;" src="/assets/img/logout.png"></div>
        </div>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button> -->
    </mat-toolbar>
</div>

<div class="content">
    <div class="menu-left">
        <div class="icon"><img style="width: 40px;" src="/assets/img/1.png"></div>
        <div class="icon"><img style="width: 40px;" src="/assets/img/2.png"></div>
        <div class="icon"><img style="width: 40px;" src="/assets/img/3.png"></div>
        <div class="icon"><img style="width: 40px;" src="/assets/img/4.png"></div>
        <div class="icon"><img style="width: 40px;" src="/assets/img/5.jpg"></div>
        <div class="icon"><img style="width: 40px;" src="/assets/img/6.png"></div>
        <div class="icon"><img style="width: 40px;" src="/assets/img/7.png"></div>
        <div class="icon"><img style="width: 40px;" src="/assets/img/8.png"></div>
    </div>
    <div class="content-right">
        <router-outlet></router-outlet>
    </div>

</div>


<!-- <footer>Footer</footer> -->