.header {
  border-bottom: 1px solid gray;
}

span {
  color: gray;
}

.example-spacer {
  flex: 1 1 auto;
}

.title {
  border: 1px solid rgb(240, 232, 232);
  padding: 10px;
  margin: 10px;
}

.img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mr {
  padding: 20px;
  color: gray;
}

.content {
  display: flex;
}

.menu-left {
  display: flex;
  flex-direction: column;
  width: 80px;
  border-right: 1px solid gray;
}

.content-right {
  width: calc(100% - 80px);

}

.icon {
  margin: 20px 20px;
}
