.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  background-color: aliceblue;
}

.back {
  display: flex;
  align-items: center;
  margin-left: 15rem;
  margin-top: 5rem;
  a {
    margin-bottom: 17px;
  }
}

h1 {
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 30px 245px;
}

.header {
  display: flex;
}

.info-name-birthday {
  display: flex;
}

.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}

.mat-form-field {
  margin-right: 10px;
  width: 400px;
}

.button {
  display: flex;
  margin-top: 30px;
}

button {
  margin-right: 20px;
  width: 100px;
  height: 50px;
}

input {
  margin-left: 30px;
  width: 200px;
}

.header {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.avatar {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  border-radius: 10%;
}

.url {
  margin-right: 30px;
}

.insert-url {
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.status {
  margin-left: 50px;
}

.address {
  width: 100%;
}

.fix-img {
  width: 100px;
  min-height: 100px;
  border-radius: 10%;
}

::ng-deep .content-right {
  background-color: aliceblue;
}

input {
  caret-color: auto;
  display: block;
  margin-bottom: 0.5em;
}

form {
  width: 855px;
}
