<div class="cover" fxLayout="column" fxLayoutAlign="center center">
  <div class="back">
    <a mat-icon-button routerLink="/employees" routerLinkActive="active">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <h1>{{'detailEmployee' | transloco}}</h1>
  </div>

  <div class="info" *ngIf="detailEmployee">
    <div class="header">
      <div class="avatar">
        <img class="fix-img" src="{{detailEmployee.url || detailEmployee.avatarURL}}">
      </div>
      <div class="url">
        <input class="insert-url" name="url" type="text" placeholder="Insert URL for Avatar"
          [(ngModel)]="detailEmployee.url || detailEmployee.avatarURL">
      </div>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <mat-card>
        <div class="info-name-birthday">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'Name' | transloco}}</mat-label>
            <input matInput tabindex="1" placeholder="Your name" name="name" [(ngModel)]="detailEmployee.name" />
          </mat-form-field>

          <mat-form-field class=" example-full-width" appearance="outline">
            <mat-label>{{'birthday' | transloco}}</mat-label>
            <input matInput name="birthday" value="{{detailEmployee.birthday| date:'medium'}}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="contact-info">
          <h2>{{'contactInfo' | transloco}}</h2>
          <mat-form-field appearance="outline">
            <mat-label>{{'phone' | transloco}}</mat-label>
            <input matInput tabindex="1" placeholder="Your phone number" name="phone"
              [(ngModel)]="detailEmployee.phone" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{'email'}}</mat-label>
            <input matInput tabindex="1" placeholder="Your email" name="email" [(ngModel)]="detailEmployee.email" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{'address' | transloco}}</mat-label>
            <input class="status" matInput tabindex="1" name="address" [(ngModel)]="detailEmployee.address" />
          </mat-form-field>

        </div>

      </mat-card>
      <div class="button">
        <button mat-raised-button color="accent" type="submit"
          [disabled]="(isUpdating$ | async)">{{'save' | transloco}}</button>
      </div>
    </form>

  </div>
</div>
