<div class="list-company">
  <div class="header">
    <h1>{{ 'companies' | transloco }}</h1>
    <button mat-raised-button color="accent" type="submit" routerLink="/companies/create" routerLinkActive="active"
      class="create">Create Companies
    </button>
  </div>
  <app-page-content>
    <div container>

      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

      <table mat-table [dataSource]="companies$ | async" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let element" [routerLink]="['/companies', element.id]">
            <div class="name">
              <div> <img style="width: 42px; margin-right:20px" src="{{element.logoURL || element.url || 'assets/images/logo.PNG'}}">
              </div>
              <div>{{element.name}}</div>
            </div>
          </td>
        </ng-container>

        <!-- employee Column -->
        <ng-container matColumnDef="employee">
          <th mat-header-cell *matHeaderCellDef> EMPLOYEE </th>
          <td mat-cell *matCellDef="let element" [routerLink]="['/companies', element.id]"> {{element.employee}} </td>
        </ng-container>

        <!-- orders/invoices Column -->
        <ng-container matColumnDef="orders">
          <th mat-header-cell *matHeaderCellDef> ORDERS/INVOICES </th>
          <td mat-cell *matCellDef="let element" [routerLink]="['/companies', element.id]"> {{element.orders}} </td>
        </ng-container>

        <ng-container matColumnDef="menu">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item type="submit" (click)="openDialog(element)" [dataSource]="(isDeleted$ | async)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item [routerLink]="['/companies',element.id]">
                <mat-icon>restore</mat-icon>
                <span>Update</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"
          class="example-element-row"></tr>
      </table>
    </div>
  </app-page-content>

</div>