mat-icon {
  margin-left: 0;
}

h1 {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-head {
  display: flex;
  align-items: center;
}
form {
  width: 700px;
  margin: 5rem auto;
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  font-family: Lato;
  text-align: left;
  width: 80%;
  padding: 30px 30px;
  overflow-y: scroll;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-slide-toggle {
  margin-left: 50%;
}

.URL {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  border: 1px solid black;
}

mat-slide-toggle {
  margin-left: 40%;
}

.logoURL {
  margin: 20px;
}

.name {
  margin-top: 40px;
}

.card2 {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
}

button {
  width: 70px;
  height: 30px;
  margin-bottom: 20px;
  justify-content: space-around;
}

.logo-img {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

app-page {
  background-color: aliceblue;
}

input {
  caret-color: auto;
  display: block;
  margin-bottom: 0.5em;
}
