.container {
  margin: 0;
  background-color: aliceblue;
  height: 700px;
}

h1 {
  margin: 50px 50px;
}

.filter {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: flex-end;
}

table {
  width: 100%;
}

.element-row:hover {
  background: whitesmoke;
  cursor: pointer;
}

.element-row:active {
  background: #efefef;
}

th.mat-header-cell {
  border-bottom-style: none;
}

td.mat-cell {
  border-bottom-style: none;
}

.sort {
  margin-right: 30px;
  width: 400px;
}

.create-btn {
  height: 50px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.mat-paginator {
  background-color: aliceblue;
}

.mat-header-row {
  background-color: antiquewhite;
}
