.container {
  background-color: aliceblue;
  height: 700px;
}

h1 {
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
}

.filter {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.progress-bar {
  margin-bottom: 30px;
}

table {
  width: 100%;
}

.element-row:hover {
  background: whitesmoke;
  cursor: pointer;
}

.element-row:active {
  background: #efefef;
}

th.mat-header-cell {
  border-bottom-style: none;
}

td.mat-cell {
  border-bottom-style: none;
}

.sort {
  margin-right: 30px;
  width: 400px;
}

.add-employee {
  font-size: 40px;
  margin-bottom: 20px;
}

.add-employee:hover {
  cursor: pointer;
}

.create-btn {
  margin-bottom: 20px;
  width: 180px;
  height: 50px;
  line-height: 50px;
}

.mat-paginator {
  background-color: aliceblue;
}

.mat-header-row {
  background-color: antiquewhite;
}

.mat-icon {
  margin: 0 100px;
}

::ng-deep .content-right {
  background-color: aliceblue;
  padding: 0 50px;
}
